<header>
	<h1>Goki Collection</h1>
	<% if user_signed_in? %>
		<%= link_to destroy_user_session_path, method: :delete do %>
			<%= image_tag "maingokis/share/logout.png", :size=>"120x60", :id=>"logoutbutton" %>
		<% end %>
	<% end %>
</header>



<%= form_tag({controller: :gokicollections, action: :destroy_all}, method: "delete", class:"indexform") do %>
<main id="indexmain">
	<div class="collection">
		<% (1..9).each do |i| %>
			<% if !(@user[i-1].nil?) %>
				<div class="cell" id="cell"+<%= i.to_s %>>
					<div class="cell_buttom" id="cell_buttom"+<%= i.to_s %>>
						<p class="gokiname"><%= @user[i-1].goki.name %> (<%= @user[i-1].goki.genre.name %>)   <a href="/maingokis/gindex/<%= @user[i-1].goki.id %>">select</a>  <%= link_to("edit", edit_gokicollection_path(id: @gokis[i-1].id), html_options={class:"edittag"}) %></p>
						<p class="gokidesc"><%= @user[i-1].goki.description %></p>
					</div>
				</div>
			<% else %>
				<div class="cell" id="cell"+<%= i.to_s %>>
					<div class="cell_top" id="cell_top"+<%= i.to_s %>></div>
					<div class="cell_buttom" id="cell_buttom"+<%= i.to_s %>></div>
				</div>
			<% end %>
		<% end %>
	</div>
</main>



<footer id="indexfooter">
	<div class="editbar">
		<%= link_to new_gokicollection_path do %>
			<%= image_tag "gokicollections/index/newbutton.png", :size=>"100x100", :class=>"footbutton" %>
		<% end %>
		
		<%= image_submit_tag "gokicollections/index/deletebutton.png", :class=>"footbutton", :id=>"deletebutton" %>

		<%= link_to maingokis_path, :id=>"battlebutton" do %>
			<%= image_tag "gokicollections/index/battlebutton.png", :size=>"100x100", :class=>"footbutton" %>
		<% end %>
	</div>
</foot>
<% end %>
