<!DOCTYPE html>
<html>
	<head>
		<title>GokiApp</title>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag 'maingokis', 'data-turbolinks-track': 'reload' %>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<%= javascript_include_tag 'anime-master/lib/anime.min.js', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'maingokis', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<%= yield %>
	</body>
</html>
